<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a class="active item">Home</a>
        <a class="item">Sobre</a>
    </div>
</div>

<!-- Page Contents -->
<div id="main" class="ui inverted vertical masthead center aligned segment" data-stellar-background-ratio="0">

    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <a class="active item">Home</a>
            <a class="item">Sobre</a>
        </div>
    </div>

</div>

<div id="container-1"  class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="six wide right floated column">
                <img id="image-1" src="images/elephant.jpg" class="ui large image hidden">
            </div>
            <div id="content-1" class="eight wide column hidden">
                <h3 class="ui header">Sobre a PHP-MGA</h3>
                <p>A comunidade PHP-MGA é formada por programadores e entusiastas da linguagem PHP que atuam em Maringá e região.</p>
                <p>Discutimos e realizamos projetos que capacitam e incentivam os profissionais da área a melhorarem seus conhecimentos, mantendo o alto nível das aplicações produzidas aqui como referência nacional.</p>
                <div class="ui divider"></div>
                <p>Faça parte!</p>
            </div>
        </div>
    </div>
</div>

<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Sitemap</a>
                    <a href="#" class="item">Contact Us</a>
                    <a href="#" class="item">Religious Ceremonies</a>
                    <a href="#" class="item">Gazebo Plans</a>
                </div>
            </div>
        </div>
    </div>
</div>
