<div id="container-about" class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="two column row">
                <div class="wide column">
                    <img id="image-about" src="images/phpmga-social-logo.png" class="ui image hidden">
                </div>
                <div id="content-about" class="wide column about hidden phpmga-about">
                    <h3 class="ui header">#Sobre a PHP-MGA</h3>

                    <p>A comunidade PHP-MGA é formada por programadores e entusiastas da linguagem PHP que atuam em
                        Maringá
                        e região.</p>

                    <p>Discutimos e realizamos projetos que capacitam e incentivam os profissionais da área a melhorarem
                        seus conhecimentos, mantendo o alto nível das aplicações produzidas aqui como referência
                        nacional.</p>

                    <div class="ui divider"></div>
                    <p class="phpmga-todo"><span>//TODO</span> Faça parte!</p>
                </div>
            </div>
        </div>
</div>

<div id="container-staff" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="column row">
            <div id="content-staff" class="wide column phpmga-staff">
                <h3 class="ui header">#Staff</h3>

                <div class="ui divider"></div>
            </div>
        </div>
        <div id="staff-first-row-container" class="four column row">
            <div class="column">
                <div class="ui fluid blue card phpmga-perfil">
                    <div class="ui centered small circular rotate reveal image">
                        <img src="images/alberto-perfil-01.png" class="visible content">
                        <img src="images/alberto-perfil-02.png" class="hidden content">
                    </div>
                    <div class="content">
                        <a class="header">Alberto Vieira de Lima</a>

                        <div class="meta">
                            <span class="date">Engenheiro de Software desde 2005</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <a target="_blank" href="https://github.com/avlima">
                            <i class="github icon"></i>
                            avlima
                        </a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid blue card phpmga-perfil">
                    <div class="ui centered small circular rotate reveal image">
                        <img src="images/vanderson-perfil-01.png" class="visible content">
                        <img src="images/vanderson-perfil-02.png" class="hidden content">
                    </div>
                    <div class="content">
                        <a class="header">Vanderson Lopes</a>

                        <div class="meta">
                            <span class="date">Desenvolvedor Web desde 2011</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <a target="_blank" href="https://github.com/vanderson139">
                            <i class="github icon"></i>
                            vanderson139
                        </a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid blue card phpmga-perfil">
                    <div class="ui centered small circular rotate reveal image">
                        <img src="images/victor-perfil-01.png" class="visible content">
                        <img src="images/victor-perfil-02.png" class="hidden content">
                    </div>
                    <div class="content">
                        <a class="header">Victor Hugo Martins</a>

                        <div class="meta">
                            <span class="date">Desenvolvedor Web desde 2010</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <a target="_blank" href="https://github.com/victorhugo-pmartins">
                            <i class="github icon"></i>
                            victorhugo-pmartins
                        </a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid blue card phpmga-perfil">
                    <div class="ui centered small circular rotate reveal image">
                        <img src="images/anderson-perfil-01.png" class="visible content">
                        <img src="images/anderson-perfil-02.png" class="hidden content">
                    </div>
                    <div class="content">
                        <a class="header">Anderson Costa</a>

                        <div class="meta">
                            <span class="date">Desenvolvedor Web desde 2013</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <a target="_blank" href="https://github.com/arcostasi">
                            <i class="github icon"></i>
                            arcostasi
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="staff-second-row-container" class="four column row">
            <div class="column">
                <div class="ui fluid blue card phpmga-perfil">
                    <div class="ui centered small circular rotate reveal image">
                        <img src="images/rodrigo-perfil-01.png" class="visible content">
                        <img src="images/rodrigo-perfil-02.png" class="hidden content">
                    </div>
                    <div class="content">
                        <a class="header">Rodrigo Martins</a>

                        <div class="meta">
                            <span class="date">Desenvolvedor Web desde 2014</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <a target="_blank" href="https://github.com/policante">
                            <i class="github icon"></i>
                            policante
                        </a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid blue card phpmga-perfil">
                    <div class="ui centered small circular rotate reveal image">
                        <img src="images/renato-perfil-01.png" class="visible content">
                        <img src="images/renato-perfil-02.png" class="hidden content">
                    </div>
                    <div class="content">
                        <a class="header">Renato Peterman</a>

                        <div class="meta">
                            <span class="date">Desenvolvedor Web desde 2014</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <a target="_blank" href="https://github.com/renatopeterman">
                            <i class="github icon"></i>
                            renatopeterman
                        </a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid blue card phpmga-perfil">
                    <div class="ui centered small circular rotate reveal image">
                        <img src="images/rafael-perfil-01.png" class="visible content">
                        <img src="images/rafael-perfil-02.png" class="hidden content">
                    </div>
                    <div class="content">
                        <a class="header">Rafael Amaro</a>

                        <div class="meta">
                            <span class="date">Desenvolvedor Web desde 2014</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <a target="_blank" href="https://github.com/amaroRafael">
                            <i class="github icon"></i>
                            amaroRafael
                        </a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid blue card phpmga-perfil">
                    <div class="ui centered small circular rotate reveal image">
                        <img src="images/andre-perfil-01.png" class="visible content">
                        <img src="images/andre-perfil-02.png" class="hidden content">
                    </div>
                    <div class="content">
                        <a class="header">André Paulena</a>

                        <div class="meta">
                            <span class="date">Desenvolvedor Web desde 2014</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <a target="_blank" target="_blank" href="https://github.com/andrepaulena">
                            <i class="github icon"></i>
                            andrepaulena
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="container-contact" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="column row">
            <div id="content-contact" class="wide right aligned column phpmga-contact">
                <h3 class="ui header">#Entre em contato</h3>

                <div class="ui divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui text container">

                    <div class="ui small {{ sendmail.type }} message" ng-show="sendmail.valid">
                        <i class="close icon"></i>

                        <div class="header">
                            {{ sendmail.message }}
                        </div>
                        <p>You may now log-in with the username you have chosen</p>
                    </div>

                    <form id="contact_form" class="ui form contact-form hidden" ng-submit="login()">
                        <div class="field">
                            <label>NOME COMPLETO</label>

                            <div class="ui right corner labeled input large">
                                <input placeholder="$name = " name="name" type="text" ng-model="name">

                                <div class="ui right corner label">
                                    <i class="asterisk icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>E-MAIL</label>

                            <div class="ui right corner labeled input large">
                                <input class="large" placeholder="$email = " name="email" type="text" ng-model="email">

                                <div class="ui right corner label">
                                    <i class="asterisk icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>ASSUNTO</label>

                            <div class="ui right corner labeled input large">
                                <input placeholder="$subject = " name="subject" type="text" ng-model="subject">

                                <div class="ui right corner label">
                                    <i class="asterisk icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>MENSAGEM</label>

                            <div class="ui right corner labeled input large">
                                <textarea placeholder="$message = " name="message" ng-model="message"></textarea>

                                <div class="ui right corner label">
                                    <i class="asterisk icon"></i>
                                </div>
                            </div>
                        </div>
                        <button id="submit" class="ui phpmga-button-primary big submit button" ng-click="login()">Enviar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>