<div id="container-about" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="two column row">
            <div class="wide column">
                <img id="image-about" src="images/phpmga-social-logo.png" class="ui image hidden">
            </div>
            <div id="content-about" class="wide column about hidden phpmga-about">
                <h3 class="ui header">#Sobre a PHP-MGA</h3>
                <p>A comunidade PHP-MGA é formada por programadores e entusiastas da linguagem PHP que atuam em Maringá
                    e região.</p>

                <p>Discutimos e realizamos projetos que capacitam e incentivam os profissionais da área a melhorarem
                    seus conhecimentos, mantendo o alto nível das aplicações produzidas aqui como referência
                    nacional.</p>

                <div class="ui divider"></div>
                <p class="phpmga-todo"><span>//TODO</span> Faça parte!</p>
            </div>
        </div>
    </div>
</div>

<div id="container-staff" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="column row">
            <div id="content-staff" class="wide column phpmga-staff">
                <h3 class="ui header">#Staff</h3>

                <div class="ui divider"></div>
            </div>
        </div>

</div>

<div id="container-contact" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="column row">
            <div id="content-contact" class="wide right aligned column phpmga-contact">
                <h3 class="ui header">#Entre em contato</h3>

                <div class="ui divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui text container">

                <div class="ui small {{ sendmail.type }} message" ng-show="sendmail.valid">
                    <i class="close icon"></i>

                    <div class="header">
                        {{ sendmail.message }}
                    </div>
                    <p>You may now log-in with the username you have chosen</p>
                </div>

                <form id="contact_form" class="ui form" ng-submit="login()">
                    <div class="field">
                        <label>NOME COMPLETO</label>

                        <div class="ui right corner labeled input large">
                            <input placeholder="$name = " name="name" type="text" ng-model="name">

                            <div class="ui right corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>E-MAIL</label>

                        <div class="ui right corner labeled input large">
                            <input class="large" placeholder="$email = " name="email" type="text" ng-model="email">

                            <div class="ui right corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>ASSUNTO</label>

                        <div class="ui right corner labeled input large">
                            <input placeholder="$subject = " name="subject" type="text" ng-model="subject">

                            <div class="ui right corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>MENSAGEM</label>

                        <div class="ui right corner labeled input large">
                            <textarea placeholder="$message = " name="message" ng-model="message"></textarea>

                            <div class="ui right corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div id="submit" class="ui phpmga-button-primary big submit button" ng-click="login()">Enviar</div>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>